@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ============================
   HIDE SCROLLBAR (GLOBAL)
   ============================ */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes floatButton {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-4px); }
  100% { transform: translateY(0px); }
}

.animate-floatButton {
  animation: floatButton 3s ease-in-out infinite;
}
